# exclude attachment
_attachment/

# exclude workspace cache
.obsidian/workspace.json
.obsidian/plugins/recent-files-obsidian/data.json

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store
.history
